{% extends "base.html" %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'feed.css' %}">

<div class='user-info'>
    {% if user %}
    <div class='user'>
        Current User: {{user}}
    </div>
    {% endif %}
    <a href="/logout/" class='logout'> Logout </a>
</div>

<div class="feed">

    {% if user_subs %}
    <div>
        <div class='feed-title'>Current Subscriptions</div>

        <div class='feed-content'>
            <div>
                <div>Topic</div>
                {% for sub in user_subs %}
                <div>{{sub.hashtag_id.topic}}</div>
                {% endfor %}
            </div>
            <div>
                <div>Frequency</div>
                {% for sub in user_subs %}
                <div>{{sub.frequency}}</div>
                {% endfor %}
            </div>

            <div>
                <div>Sentiment</div>
                {% for res in analysis_results %}
                <div>{{res}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div>
        <div class='.user-form-input-topics'>
            <form method="post" action="/subscribe/" class='form'> {% csrf_token %}
                Topic <input id="topic" type="text" name="topic" placeholder="ex: cat">
                Frequency <input id="freq" type="text" name="freq" placeholder="X days">
                <input type="submit" value="Subscribe to a Hashtag">
            </form>
            <form method="post" action="/unsubscribe/" class='form'> {% csrf_token %}
                Topic <input id="topic" type="text" name="topic">
                <input type="submit" value="Unsubscribe from a Hashtag">
            </form>
            <form method="get" action="/analyze/" class='form'>
                <input type="hidden" name="username" value={{user}}>
                Topic <input id="topic" type="text" name="topic">
                <input type="submit" value="Get Analysis">
            </form>
        </div>
        <div class="error">
            {% if error %}
            Error: {{error}}
            {% endif %}
        </div>
    </div>
</div>

<div>
    {% if graph and topic %}
    {% include "./charts.html" %}
    {% endif %}
</div>

{% endblock content %}