.highcharts-tooltip{
    display: none;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

#gauge {
    width: 30%;
}

#time {
    width: 70%
}