.main {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    background: linear-gradient(to bottom, #66ffff 0%, #66ccff 100%);

}

.signup {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    margin: auto;
}

.login {
    display: flex;
    justify-content: center;
}